<!--div class="example-container mat-elevation-z8">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>{{ listTitle }}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortItems($event)" matSortActive="Id" matSortDirection="asc" matSortDisableClear *ngIf="!loading">

    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ column.cell(row) }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

  <div *ngIf="itemsCount <= 0 && !loading">No result</div>

  <mat-paginator #paginator [pageSize]="defaultPageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div-->
